Repository v1un/risuCompetitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @backend-team, @frontend-team, @ai-team, @api-team, @database-team, @docs-team, @devops-team

yayy
  ROADMAP.md
  bug-report.md
  devfile.yaml
  package-lock.json
  package.json
  src/main/api/ApiErrorHandler.ts
  src/main/api/error-handler.ts
  src/main/api/gemini.ts
  src/main/api/openrouter.ts
  src/main/services/AudioManager.ts
  src/main/services/ImageGenerationService.ts
  src/renderer/App.tsx
  src/renderer/components/layout/KeyboardShortcutsHelp.tsx
  src/renderer/components/layout/Layout.tsx
  src/renderer/components/settings/KeyboardShortcutsSettings.tsx
  src/renderer/contexts/KeyboardShortcutContext.tsx
  src/renderer/hooks/useAppShortcuts.ts
  src/renderer/pages/LorebooksPage.tsx
  src/renderer/pages/SettingsPage.tsx
  src/renderer/pages/SupportToolsPage.tsx
  src/renderer/services/CombatManager.ts
  src/shared/types/combat.ts
  src/shared/types/index.ts
  src/shared/types/keyboard.ts
Owners: @project-admin, @devops-team, @api-team, @backend-team, @frontend-team

yooo
  .github/workflows/ci.yml
  package.json
Owners: @project-admin, @devops-team

Many changes lil bro
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  src/main/api/ApiErrorHandler.ts
  src/main/api/gemini.ts
  src/main/api/openrouter.ts
  src/main/database/sqlite.ts
  src/main/services/ai-generation-service.ts
  src/main/services/api-key-manager.ts
  src/renderer/App.tsx
  src/renderer/components/ai/ModelSelector.tsx
  src/renderer/components/chat/NarratorChat.tsx
  src/renderer/pages/ChatPage.tsx
  src/renderer/pages/LorebooksPage.tsx
  src/renderer/services/CombatManager.ts
  src/shared/types/combat.ts
Owners: @project-admin, @devops-team, @api-team, @database-team, @backend-team, @frontend-team

yay2
  src/main/api/ApiErrorHandler.ts
  src/main/api/error-handler.ts
  src/main/api/gemini.ts
  src/main/api/openrouter.ts
  src/renderer/contexts/KeyboardShortcutContext.tsx
  src/shared/config.ts
Owners: @api-team, @frontend-team, @project-admin

1123
  package-lock.json
  package.json
  src/main/api/ai-generation.ts
  src/main/index.ts
  src/renderer/pages/AiGenerationPage.tsx
  src/renderer/types/window.d.ts
  src/shared/types/index.ts
  src/shared/types/index.ts.new
  tsconfig.json
  webpack.common.js
  webpack.prod.js
Owners: @devops-team, @api-team, @backend-team, @frontend-team, @project-admin

yoooooo12344321
  ARCH_LINUX.md
  package.json
  scripts/rebuild-native-modules.sh
  scripts/rebuild-sqlite.js
  scripts/test-sqlite.js
  src/main/api/api-handlers.ts
  src/main/database/sqlite.ts
  src/main/index.ts
  src/main/services/api-key-manager.ts
  src/renderer/App.tsx
  src/renderer/pages/ApiKeySetupPage.tsx
  tsconfig.json
  webpack.common.js
  webpack.dev.js
Owners: @project-admin, @devops-team, @api-team, @database-team, @backend-team, @frontend-team

aaaaa
  src/renderer/components/ai/ModelSelector.tsx
Owners: @frontend-team

12333333
  ROADMAP.md
  package-lock.json
  package.json
  src/main/api/api-handlers.ts
  src/main/api/inventory-handlers.ts
  src/preload/index.ts
  src/renderer/components/ai/AiGenerationPanel.tsx
  src/renderer/components/ai/ModelSelector.tsx
  src/renderer/components/character/CharacterProgressionPanel.tsx
  src/renderer/components/chat/MarkdownMessage.tsx
  src/renderer/components/chat/NarratorChat.tsx
  src/renderer/components/common/ErrorDisplay.tsx
  src/renderer/components/common/MarkdownEditor.tsx
  src/renderer/components/map/MapEditor.tsx
  src/renderer/components/tools/InventoryManager.tsx
  src/renderer/components/tools/InventoryPanel.tsx
  src/renderer/contexts/ErrorContext.tsx
  src/renderer/services/CharacterProgressionService.ts
  src/renderer/services/InventoryManager.ts
  src/renderer/services/WorldMapService.ts
  src/renderer/types/window.d.ts
  src/shared/services/ApiErrorHandler.ts
  src/shared/types/inventory.ts
  src/shared/types/progression.ts
  src/shared/types/worldmap.ts
Owners: @project-admin, @devops-team, @api-team, @frontend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @project-admin

# Core application files
/src/main/ @backend-team
/src/renderer/ @frontend-team

# AI integration
/src/main/services/ai/ @ai-team
/src/main/api/ @api-team

# Database
/src/main/database/ @database-team

# Documentation
/docs/ @docs-team

# Build configuration
*.json @devops-team
*.js @devops-team
/scripts/ @devops-team

# Note: Replace the team names with actual GitHub usernames or teams
# when you set up your repository
